<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('asset/styles/main.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-center py-3 mb-4 border-bottom">
                <nav class="navbar">
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link px-2 link-secondary" href="{{ path('accueil') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 link-secondary" href="{{ path('inspiration') }}">Inspirations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 link-secondary" href="{{ path('soumettre') }}">Soumettre un poème</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
