{% extends 'base.html.twig' %}

{% block title %}Inspirations Poésie Inspire{% endblock %}

{% block body %}

<section class="section-poeme">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>Liste des poèmes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for poeme in poemes %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="poeme">
                    <p>{{ poeme.titre }}</p>
                    <p>{{ poeme.contenu }}</p>
                    <p>{{ poeme.nomAuteur }}</p>
                    <p>{{ poeme.prenomAuteur }}</p>
                    <p>{{ poeme.theme }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include "components/pagination.html.twig" with {
    route: 'inspiration',
    currentPage,
    countPages
} only %}
{% endblock %}
